services:

    prometheus:
        image: prom/prometheus
        container_name: prometheus
        restart: unless-stopped
        command:
            - '--config.file=/etc/prometheus/prometheus.yml'
        volumes:
            - ./prometheus:/etc/prometheus
            - prom-data:/prometheus
        healthcheck:
          test: ["CMD", "wget", "-q", "--spider", "http://localhost:9090/-/ready"]
          interval: 30s
          timeout: 10s
          retries: 3
        networks:
            - edge-proxy
            - exporters
        labels:
          traefik.http.routers.prometheus.rule: "Host(`${PROMETHEUS_HOST}`)"
          traefik.docker.network: "edge-proxy"

    grafana:
        image: grafana/grafana
        container_name: grafana
        restart: unless-stopped
        volumes:
            - ./grafana/provisioning/:/etc/grafana/provisioning
            - grafana-data:/var/lib/grafana
        environment:
            - GF_AUTH_ANONYMOUS_ENABLED=false
            - GF_SECURITY_ADMIN_USER=${GF_USERNAME}
            - GF_SECURITY_ADMIN_PASSWORD=${GF_PASSWORD}
        networks:
            - edge-proxy
        labels:
          traefik.http.routers.grafana.rule: "Host(`${GRAFANA_HOST}`)"
          traefik.http.routers.pubgrafana.rule: "Host(`${PUB_GRAFANA_HOST}`)"
          traefik.docker.network: "edge-proxy"

volumes:
    prom-data:
    grafana-data:

networks:
    edge-proxy:
        name: edge-proxy
        external: true
    exporters:
        name: exporters
        external: true
