apiVersion: 1

datasources:
  - name: Prometheus
    uid: prometheus
    type: prometheus

    orgId: 1
    isDefault: true

    access: proxy
    url: http://prometheus:9090

    editable: false
    version: 1

    jsonData:
      httpMethod: POST
      manageAlerts: true
      prometheusType: Prometheus
      prometheusVersion: 3.0.0
      queryTimeout: 60s
      timeInterval: 30s

    secureJsonData: {}
